.app-advantage {
  margin: 48px auto 0;
  max-width: 1232px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.app-advantage-item {
  margin: 0 16px;
  flex: 1;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  padding: 24px;
}

.app-advantage-item-icon {
  margin-left: -4px; /* 与文案对齐间距 */
  font-size: 48px;
  color: #2563EB;
}

.app-advantage-item-title {
  margin: 16px 0 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #111827;
}

.app-advantage-item-desc {
  margin: 16px 0 0;
  font-size: 16px;
  line-height: 24px;
  color: #4B5563;
}
