.app-convertor {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  background-color: #fff;
}

.app-convertor-selector {
  margin: 32px 0;
}

.app-convertor-files {
  margin: 0;
}

.app-convertor-upload {
  display: block;
  height: 300px;
}

.app-convertor-upload-icon {
  margin: 16px;
  color: #9CA3AF;
  font-size: 64px;
}

.ant-upload-text {
  color: #4B5563;
}

.ant-upload-hint {
  color: #6B7280;
}

.app-convertor-download {
  margin-top: 32px;
  height: 88px;
  border-radius: 8px;
  padding: 24px;
  background-color: #F9FAFB;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.app-convertor-download-status .anticon {
  margin-right: 8px;
}
