.app-layout {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-header {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.app-header-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.app-header-logo-icon {
  font-size: 32px;
  margin-right: 12px;
}

.app-header-logo-text {
  height: 40px;
  font-weight: 500;
  text-decoration: none;
  font-size: 24px;
  line-height: 40px;
  color: #080e29;
}

.app-content {
  flex: 1;
  width: 100%;
  background-color: #fff;
}

.app-footer {
  margin-top: 80px;
  width: 100%;
  border: 1px solid #E5E7EB;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #4B5563;
  text-align: center;
}
