.app-intro {
  padding: 48px 0;
  width: 100%;
  text-align: center;
  background: linear-gradient(#F7FAFC, #EDF2F7);;
}

.app-intro-desc {
  margin-top: 4px !important;
  color: #4B5563 !important;
  font-weight: normal !important;
}

.app-intro-points {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.app-intro-points-item {
  margin: 0 32px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-intro-points-item .anticon {
  margin-right: 8px;
  font-size: 24px;
  color: #2563EB;
}
